<% if session[:admin] == true %>
    <table>
            <!--新規region作成フォーム-->
            <tr>
            <%= form_for(Region.new, data: { remote: true }) do |f| %>
                <td>(new region)</td>
                <td><%= f.text_field :name %></td>
                <td><%= f.submit class: 'mybtn create_btn' %></td>
            <% end %>
            </tr>
        <% @regions.each do |region| %>
                <tr>
                <%= form_for(region) do |f| %>
                    <td><%= link_to region.name, region_path(region) %></td>
                    <td><%= f.text_field :name %></td>
                    <td><%= f.submit data: {confirm: "ARE YOU SURE?"}, class: 'mybtn' %></td>
                <% end %>
                <td><%= link_to 'DELETE', region, method: :delete, data: {confirm: "ARE YOU SURE?"} %></td>
                </tr>
        <% end %>
    </table>
<% end %>

