<h1><%= @area.name%>の岩一覧</h1>


<table>
    <!--新規rock作成フォーム-->
        <%= form_for(Rock.new) do |f| %>
            <td>(new rock)</td>
            <td><%= f.text_field :name %></td>
            <!--f.hidden_fieldによりparamsにregion.idを含める-->
            <%= f.hidden_field :area_id, value: @area.id %>
            <td><%= f.submit(region: 1, class: 'create_btn mybtn')%></td>
        <% end %>
    </tr>

    <% @region.areas.each do |area| %>
            <tr>
                <%= form_for(area) do |f| %>
                    <td><%= link_to area.name, area_path(area) %></td>
                    <td><%= f.text_field :name %></td>
                    <td><%= f.submit data: {confirm: "ARE YOU SURE?"}, class: 'mybtn' %></td>
                <% end %>
                <td><%= link_to 'DELETE', area, method: :delete, data: {confirm: "ARE YOU SURE?"} %></td>
            </tr>
    <% end %>
</table>
