<div class="card refine-search" id="rs-<%= id%>" >
  <a class="collapsed rs-collapse" data-toggle="collapse" data-target="#rs-card-<%= id%>">
    <div class="card-header container" id="headingOne">
      <h5><%= title %> : 
      <input name="<%= id %>" class="rs-input" type="hidden" value="<%= default_word %>"></input>
      <sapn class="rs-query"><%= default_word %></span>
      </h5>
    </div>
  </a>
  <div id="rs-card-<%= id%>" class="collapse rs-card">
    <div class="card-body">
    </div>
  </div>
</div>