<!--<div class="card refine-search" id="rs-<%= id%>">-->
<!--  class:collapsed, data-toggle:collapseはbootstrap-->
<!--  <a class="collapsed rs-collapse" data-toggle="collapse" data-target="#rs-card-<%= id%>">-->

<!--     class=card-headerはbootstrap -->
<!--    <div class="card-header" id="headingOne">-->
<!--      <p><%= title %> : -->
<!--      <input name="<%= id %>" class="rs-input" type="hidden" value="<%= default_word %>"></input>-->
<!--      <sapn class="rs-query"><%= default_word %></span>-->
<!--      </p>-->
<!--    </div>-->
<!--  </a>-->
<!--  <div id="rs-card-<%= id%>" class="collapse rs-card">-->
<!--    <div class="card-body">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->