<!--テキストフィールドの初期値として、既に検索クエリがあればそれを、なければデフォルト値を用意する。-->
<% if params[:q].present?%>
    <% q = params[:q] %>
<% else %>
    <% q = '岩場名・課題名で検索' %>
<% end %>

<!--グレード検索の初期値として、既に検索値があればそれを、なければデフォルト値を用意する。-->
<% if params[:grade].present? %>
    <% grade_lower = params[:grade][:lower] %>
<% else %>
    <% grade_lower = 1 %>
<% end %>

<% if params[:grade].present? %>
    <% grade_upper = params[:grade][:upper] %>
<% else %>
    <% grade_upper = 16 %>
<% end %>

<%= text_field_tag :q, nil, placeholder: q, class: 'form-control col-md-6' %>
<!--select(オブジェクト名, プロパティ名, タグの情報 [, オプション])-->
<%= select(:grade, :lower, @grade_correspondence, selected: grade_lower, class: 'form-control') %>
～<%= select(:grade, :upper, @grade_correspondence, selected: grade_upper, class: 'form-control') %>
<div class="card col-md-6">
  <a class="collapsed" data-toggle="collapse" data-target="#refine-search-box">
    <div class="card-header" id="headingOne">絞り込み条件</div>
  </a>
  <div id="refine-search-box" class="collapse" >
    <%= render partial: 'refine_search_card', locals: { id: 'region', items: Region.all.pluck('name') , title: '地域', default_word: params.fetch('地域', '') } %>
    <%= render partial: 'refine_search_card', locals: { id: 'area', items: [] , title: '岩場', default_word: params.fetch('岩場', '')} %>
    <%= render partial: 'refine_search_card', locals: { id: 'problem', items: [] , title: '課題', default_word: params.fetch('課題', '')} %>
  </div>
 </div>
<%= submit_tag("Search", class: "btn btn-primary") %>