<!--<p><%= @posts_num %>件のクライミング動画を公開中</p>-->

<div class='search-form'>
  <% if session[:admin] == true %>
    <%= "管理者としてログインしています" %>
    <%= link_to 'Logout', logout_path, method: :delete %><br>
    <%= link_to 'Youtube動画を取得する', youtubeAPI_path, method: :get %>
    
    <%= form_tag("/search", method: "get") do %>
      <!--paramsが承認状況の条件をもっていなければ、全ての承認状況を表示対象にする-->
      <% if params.has_key?(:approval) %>
        <% undecided = params[:approval][:undecided] %>
        <% ok = params[:approval][:OK] %>
        <% ng = params[:approval][:NG] %>
        <% suspended = params[:approval][:suspended] %>
      <% else %>
        <% undecided, ok, ng, suspended = true, false, false, false %>
      <% end %>
      <!-- オブジェクト名、プロパティ名（チェックが入っていた場合にparams[オブジェクト名]に格納される値）、初期値 -->
      <% app_num = Post.group(:approved).size %>
      <%= check_box_tag( 'approval[undecided]', true, undecided) %>
      <!-- オブジェクト名（checkboxtagと対応させる）、ラベルとして表示される文字列 -->
      <%= label_tag('approval[undecided]', "undecided(#{app_num.fetch("undecided",0)})") %>
      <%= check_box_tag('approval[OK]', true, ok) %>
      <%= label_tag('approval[OK]', "OK(#{app_num.fetch("OK",0)})") %>
      <%= check_box_tag('approval[NG]', true, ng) %>
      <%= label_tag('approval[NG]', "NG(#{app_num.fetch("NG",0)})") %>
      <%= check_box_tag('approval[suspended]', true, suspended) %>
      <%= label_tag('approval[suspended]', "suspended(#{app_num.fetch("suspended",0)})") %><br>
      <%= render 'search' %>
    <% end %>
    
    <% else %>
    <%= form_tag("/search", method: "get") do %>  
      <%= render 'search' %>
    <% end %>
  <% end %>
  
  <%= render 'refine_search' %>
  
</div>

<div class='feed_description'>
  <% if @feed_mode == '1_problem_1_movie' %>
    <%= "#{@posts_num}件の課題を表示" %>
  <% elsif @posts_num >= 0 %>  
    <%= "#{@posts_num}件の動画を表示" %>
  <% else %>
    検索条件に合う動画がありません
  <% end %>
</div>

<%= render 'feed' %>

<div class='feed_description'>
  <% if @feed_mode == '1_problem_many_movies' %>
    <%= link_to "#{@problem.rock.area.name}の全ての課題をみる", search_path(area_id: @problem.rock.area.id) %><br>
  <% end %>
</div>

<div class="paginator">
  <%= paginate @posts %>
</div>