<p><%= @posts_num %>件のクライミング動画から検索</p>
<% if session[:admin] == true %>
  <%= "管理者としてログインしています" %>
  <%= link_to 'Logout', logout_path, method: :delete %><br>
  <%= link_to 'Youtube動画を取得する', youtubeAPI_path, method: :get %>
  
  <%= form_tag("/search", method: "get") do %>
    <!--paramsが承認状況の条件をもっていなければ、全ての承認状況を表示対象にする-->
    <% if params.has_key?(:approval) %>
      <% undecided = params[:approval][:undecided] %>
      <% ok = params[:approval][:OK] %>
      <% ng = params[:approval][:NG] %>
    <% else %>
      <% undecided, ok, ng = true, true, true %>
    <% end %>
    <!-- オブジェクト名、プロパティ名（チェックが入っていた場合にparams[オブジェクト名]に格納される値）、初期値 -->
    <%= check_box_tag( 'approval[undecided]', true, undecided) %>
    <!-- オブジェクト名（checkboxtagと対応させる）、ラベルとして表示される文字列 -->
    <%= label_tag('approval[undecided]', "undecided") %>
    <%= check_box_tag('approval[OK]', true, ok) %>
    <%= label_tag('approval[OK]', "OK") %>
    <%= check_box_tag('approval[NG]', true, ng) %>
    <%= label_tag('approval[NG]', "NG") %>
    <%= text_field_tag :q, nil, placeholder: '検索ワード' %>
    <%= submit_tag("Search") %>
  <% end %>
  
<% else %>
  <%= form_tag("/search", method: "get") do %>  
    <%= text_field_tag :q, nil, placeholder: '検索ワード' %>
    <%= submit_tag("Search") %>
  <% end %>
<% end %>
<ul>
  <% @posts.each_with_index do |post, i| %>
    <div class='posts'>
      <div>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse-target<%= i %>" role="button" aria-expanded="false">
          <%= post.problems.map{ |problem| 
            "#{problem.name}#{problem.grade}(#{problem.rock.name})"}.join %>
          <%= "#{post.problems.first.rock.area.name}(#{post.problems.first.rock.area.region.name})" %>
          <span class="caret"></span>
        </button>
      </div>
      <div class="collapse show" id="collapse-target<%= i %>">
        <br>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/<%= post.video.html_safe %>?rel=0&amp;showinfo=0"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
      </div>
  　　<% if session[:admin] == true %>
  　　<div class="request_ajax_update">
        承認状況 : <span class="upproval_state" >
        <%= post.approved %>
        </span>
        <%= form_for(post, remote: true, authenticity_token: true) do |f| %>
        <!-- ↑ authenticity_token: true を書かないと行けない。なぜか。 !-->
          <label class='radio_label'><%= f.radio_button :approved, 'OK' %>OK</label>
          <label class='radio_label'><%= f.radio_button :approved, 'NG' %>NG</label>
          <%= f.submit '更新' %>
        <% end %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</ul>

<div class="paginator">
  <%= paginate @posts %>
</div>