<!--<p><%= @posts_num %>件のクライミング動画を公開中</p>-->

<div class='search-form'>
  <% if session[:admin] == true %>
    <%= "管理者としてログインしています" %>
    <%= link_to 'Logout', logout_path, method: :delete %><br>
    <%= link_to 'Youtube動画を取得する', youtubeAPI_path, method: :get %>
    
    <%= form_tag("/search", method: "get") do %>
      <!--paramsが承認状況の条件をもっていなければ、全ての承認状況を表示対象にする-->
      <% if params.has_key?(:approval) %>
        <% undecided = params[:approval][:undecided] %>
        <% ok = params[:approval][:OK] %>
        <% ng = params[:approval][:NG] %>
        <% suspended = params[:approval][:suspended] %>
      <% else %>
        <% undecided, ok, ng, suspended = true, false, false, false %>
      <% end %>
      <!-- オブジェクト名、プロパティ名（チェックが入っていた場合にparams[オブジェクト名]に格納される値）、初期値 -->
      <% app_num = Post.group(:approved).size %>
      <%= check_box_tag( 'approval[undecided]', true, undecided) %>
      <!-- オブジェクト名（checkboxtagと対応させる）、ラベルとして表示される文字列 -->
      <%= label_tag('approval[undecided]', "undecided(#{app_num.fetch("undecided",0)})") %>
      <%= check_box_tag('approval[OK]', true, ok) %>
      <%= label_tag('approval[OK]', "OK(#{app_num.fetch("OK",0)})") %>
      <%= check_box_tag('approval[NG]', true, ng) %>
      <%= label_tag('approval[NG]', "NG(#{app_num.fetch("NG",0)})") %>
      <%= check_box_tag('approval[suspended]', true, suspended) %>
      <%= label_tag('approval[suspended]', "suspended(#{app_num.fetch("suspended",0)})") %><br>
      <%= render 'search' %>
    <% end %>
    
    <% else %>
    <%= form_tag("/search", method: "get") do %>  
      <%= render 'search' %>
    <% end %>
  <% end %>
  <%= render 'refine_search' %>
  
</div>

<%= "#{@posts.size}件の動画を表示" %>
<div class='posts'>
  <% if @posts.length == 0 %>
    検索条件に合う動画がありません
  <% end %>
  <% @posts.each_with_index do |post, i| %>
  <div class='post'>
    <!--<div class="collapse show" id="collapse-target<%= i %>">-->
      <div class="thumbnail">
        <a href="https://www.youtube.com/embed/<%= post.video.html_safe %>?" data-lity="data-lity">
          <%= image_tag("http://img.youtube.com/vi/#{post.video.html_safe}/mqdefault.jpg", { :border => '0', :alt => 'title'}) %>
        </a>
      </div>
    <!--</div>-->
    <div>
      <!--<button class="btn btn-primary" data-toggle="collapse" data-target="#collapse-target<%= i %>" role="button" aria-expanded="false">-->
        <b><%= post.problems.map{ |problem| 
          "#{problem.name}#{GRADE_CORRESPONDENCE.to_h.invert[problem.grade]}"}.join %></b><br>
        <span class='region_area'>
          <%= "#{post.problems.first.rock.area.name},#{post.problems.first.rock.area.region.name}" %>
        </span>
        <% if session[:admin] == true %>
          <br><span class="youtube_title"><%= "on youtube: #{post.title}" %></span>
        <% end %>


      <!--</button>-->
    </div>
　　<% if session[:admin] == true %>
　　  <div class="request_ajax_update">
        承認状況 : <span class="upproval_state" ><%= post.approved %></span>
        <%= form_for(post, remote: true, authenticity_token: true) do |f| %>
          <!-- ↑ authenticity_token: true を書かないと行けない。なぜか。 !-->
          <label class='radio_label'><%= f.radio_button :approved, 'OK' %>OK</label>
          <label class='radio_label'><%= f.radio_button :approved, 'NG' %>NG</label>
          <label class='radio_label'><%= f.radio_button :approved, 'suspended' %>suspended</label>
          <%= f.submit '更新' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% end %>
</div>
<div class="paginator">
  <%= paginate @posts %>
</div>