<!DOCTYPE html>
<html>
  <head>
    <title>Climbmania</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= "テスト表示 params:#{params}"  %><br>
    <% flash.each do |message_type, message| %>
      <%= message %><br>
    <% end %>
    <%= yield %>
    

  </body>
</html>
