<!DOCTYPE html>
<html>
  <head>
    <title>Climb-Movie[クライムービー] | クライミング・ボルダリング動画サイト</title>
    <meta name="description" content="クライマーのための動画サイト">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <!--プロジェクト内のcss,jsファイルの読み込み-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--bootstrapの読み込み-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
    <!--fontawesomeの読み込み-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123812656-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-123812656-1');
    </script>

  </head>


  <header>
    <%= link_to image_tag('title.png', { :border => '0', :alt => 'title'}), '/' %>
  </header>

  <body>
    <%= "デバッグ用表示 params:#{params}"  %><br>
    <% flash.each do |message_type, message| %>
      <%= message %><br>
    <% end %>
    <%= yield %>
  </body>

  <footer>
    <p>(c) 2018 クライムービー</p>
  </footer>
</html>
